.container-form{
    width: 300px;
    padding-top: 2%;
    padding-bottom: 2%;
}

label {
    display: block;
    margin-top: 1rem;
    margin-bottom: 10px;
}

.address {
    margin-top: 10px;
}

button{
    display: block;
    width: 90%;
    padding: 8px 0;
    font-size: 16px;
    font-weight: bold;
    margin-top: 1rem;
    border-radius: 10px;
    border-color: #16249C;
    background-color: #16249C;
    color: #fff;
}