/* Mobile */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo{
    width: 125px;
}

nav{
    display: flex;
}

.fa-user-plus{
    margin-right: 20px;
}

.header-link{
    font-size: 24px;
    text-decoration: none;
    color: #000000;
}

.header-desktop{
    display: none;
    visibility: hidden;
}

/* Tablet */
@media (min-width: 768px){
    .header-logo{
        width: 155px;
    }

    .header-link{
        font-size: 28px;
    }
}

/* Desktop */
@media (min-width: 1000px){
    .header-logo{
        width: 175px;
    }

    .header-link{
        width: 182px;
        font-size: 18px;
    }

    .header-desktop{
        display: block;
        visibility: visible;
    }

    .header-mobile{
        display: none;
        visibility: hidden;
    }
}

